server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5436/schooldb
    username: postgres
    password: admin
  jpa:
    hibernate:
#      ddl-auto: create
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show_sql: true
